<main>
	<a href="/plaats" class="button">Plaats een advertentie</a>
	<h1>Advertenties</h1>
	{{#each data}}
	<div class="advertisement">
		<div class="info">
			<a href="/advertentie/{{this._id}}"><h3>{{this.title}}</h3></a>
			<p>{{this.description}}</p>
		</div>
		<img src="/upload/1.jpeg" alt="">
	</div>
	{{/each}}
</main>