<main>
	<a href="/plaats" class="button">Plaats een advertentie</a>
	<h1>Advertenties</h1>
	{{#each data}}
	<div class="advertisement">
			<a href="/advertentie/{{this._id}}"><h3>{{this.title}}</h3></a>
			<p>{{this.description}}</p>
		<img src="/upload/{{this.images.[0]}}" alt="">
	</div>
	{{/each}}
</main>