<main>
	<h1>Plaats een advertentie</h1>
	<form action="/plaats-advertentie" method="post">

		<div>
			<label for="title">Geef een titel</label>
			<input type="text" name="title" id="title">
		</div>

		<div>
			<label for="images">Voeg afbeeldingen toe</label>
			<input type="file" name="images" id="images">
		</div>

		<div>
			<label for="location">Waar is je locatie</label>
			<input type="text" name="location" id="location">
		</div>

		<div>
			<label for="description">Beschrijving</label>
			<textarea name="description" id="description"></textarea>

			<label for="location_type">Type Locatie</label>

			<label for="">Voorzieningen</label>
			<input type="number" name="parking_places" id="parking_places"><label for="parking_places">Aantal parkeerplekken</label>
			<input type="checkbox" name="electricity" id="electricity"><label for="electricity">Stroom</label>
			<input type="checkbox" name="three_phase_electricity" id="three_phase_electricity"><label for="three_phase_electricity">Krachtstroom</label>
			<input type="checkbox" name="water" id="water"><label for="water">Water</label>

			<label for="location_size">Groote van Locatie</label>
			<input type="number" name="location_size" id="location_size"><label>m<sup>2</sup></label>
		</div>

		<input type="submit" value="Opslaan">
	</form>
</main>

<script type="text/javascript" src="js/add-image.js"></script>

<script type="text/javascript" src="js/location-autocomplete.js"></script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{mapsApiKey}}&libraries=places&callback=initAutocomplete"></script>