<main>
	<h1>Plaats een advertentie</h1>
	<form action="">
		<!-- <fieldset>
				<legend>Algemene informatie</legend>

				<label for="titel">Titel</label>
				<input type="text" name="titel" id="titel">

				<label for="beschrijving">Beschrijving</label>
				<textarea name="beschrijving" id="beschrijving"></textarea>

				<label for="locatie">Locatie</label>
				<input type="text" name="locatie" id="locatie">

				<label for="stijl">Stijl</label>
				<input type="radio" name="stijl" id="middeleeuws"><label for="middeleeuws">Middeleeuws</label>
				<input type="radio" name="stijl" id="romeins"><label for="romeins">Romeins</label>
				<input type="radio" name="stijl" id="modern"><label for="modern">Modern</label>
			</fieldset> -->
		<fieldset id="images">
			<legend>Upload afbeeldingen</legend>
			<input type="file" required>
			<input type="file" required>
			<input type="file" required>
			<input type="file" required>
			<input type="file" required>
		</fieldset>
		<!-- <fieldset>
				<legend>Contact Informatie</legend>

				<label for="email">E-mail Adres</label>
				<input type="email" id="email" name="mobiel">

				<label for="mobiel">Mobiel Nummer</label>
				<input type="tel" id="mobiel" name="mobiel">
			</fieldset> -->
		<input type="submit" value="Opslaan">
	</form>
</main>