@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;1,400&family=Roboto+Slab&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #C1E1C1;
	font-family: Noto Sans, sans-serif;
	color: #111;
}

header {
	width: 100%;
	background-color: darkolivegreen;
	padding: 1em 5%;
}

header img {
	height: 2.8em;
}

main {
	width: 90%;
	margin: 2em auto;
}

h1 {
	font-size: 1.8em;
	line-height: 1.6;
	margin-bottom: 1em;
}

h2 {
	margin-top: 1em;
}

.button,
button {
	background-color: darkolivegreen;
	text-decoration: none;
	border-radius: .5em;
	color: white;
	padding: .3em 1em;
	display: block;
	margin-bottom: 1em;
	width: fit-content;
	white-space: nowrap;
	border: none;
	font-size: 1em;
}

.button.secondary,
button.secondary {
	background-color: grey;
}

.button:active,
button:active {
	background-color: grey;
}

[data-step] {
	margin-bottom: 5em;
}

.form-group {
	margin-bottom: 3em;
}

.input {
	margin-bottom: 1em;
	margin-top: .5em;
}

label {
	display: block;
	font-size: 1.2em;
	font-weight: bold;
}

.input label {
	display: inline;
	font-size: 1em;
	margin-left: 1ch;
}

input {
	background-color: white;
	border-radius: .25em;
	font-size: 1em;
	padding: .5em 1em;
	color: #111;
	border: 1px solid grey;
	margin-bottom: .5em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
	outline: 1px solid blue;
	box-shadow: 1px 1px 3px #3333;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
	display: block;
	width: 100%;

}

input[type="checkbox"] {
	scale: 1.5;
	margin: .25em;
	border: .5px solid black;
}

input#parking_places {
	width: 6em;
}

input#location_size {
	padding: .5em 2.5em .5em 1em;
	width: 8em;
}

input#location_size+label {
	position: relative;
	left: -3em;
	color: grey;
	font-weight: normal;
}

input#phone {
	padding: .5em 1em .5em 4.5em;
}

label.phone-number_prefix {
	position: absolute;
	padding: .5em 1em;
	margin-left: 0;
	color: grey;
	border-right: 1px solid grey;
	font-weight: normal;
}

.invalid {
	outline: 1px solid red;
}

.image-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
}

.image-list img {
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: .5em;
	margin-bottom: 1em;
}

.image-list .upload-image-container {
	position: relative;
}

.image-list button {
	position: absolute;
	background-color: white;
	color: #111;
	border-radius: 100%;
	width: 2em;
	height: 2em;
	border: none;
	top: .5em;
	right: .5em;
	font-size: 1em;
	display: grid;
	place-items: center;
}

input[type="file"] {
	display: block;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

input[type="file"]::file-selector-button {
	display: none;
}

::-webkit-file-upload-button {
	display: none;
}

.input+p {
	display: flex;
	align-items: center;
	gap: 1ch;
}

.input+p:before {
	content: 'ℹ️';
	font-size: 1.2em;
}

textarea {
	width: 100%;
	resize: vertical;
	padding: .5em 1em;
	font-size: 1em;
	font-family: Noto Sans, sans-serif;
	border-radius: .25em;
	border: 1px solid grey;
}

select {
	width: 100%;
	padding: .5em 1em;
	font-size: 1em;
	border-radius: .25em;
	font-family: Noto Sans, sans-serif;
	border: 1px solid grey;
}

button {
	cursor: pointer;
}

.form-navigation {
	position: fixed;
	inset: auto 0 0 0;
	height: 3em;
	background-color: white;
	display: flex;
	gap: 1px;
}

.form-navigation button {
	flex-basis: 100%;
	display: flex;
	gap: 1ch;
	justify-content: center;
	align-items: center;
	height: 100%;
	border-radius: 0;
}

.form-navigation button:first-of-type {
	display: none;
}

.form-navigation button:nth-of-type(2) {
	display: none;
}

.form-navigation button:first-of-type:before {
	content: '◀︎';
}

.form-navigation button:nth-of-type(2):after {
	content: '▶︎';
}

.form-navigation button:nth-of-type(3):after {
	content: '✓';
}

.input_validation-message {
	color: red;
	display: block;
}